export(qboost)
export(predict.qboost)
export(plot.qboost)
export(summary.qboost)
export(print.qboost)
export(coef.qboost)
export(importance.qboost)
S3method(predict,qboost)
S3method(plot,qboost)
S3method(summary,qboost)
S3method(print,qboost_summary)
S3method(print,qboost)
S3method(coef,qboost)
importFrom(lightgbm,lgb.train)
importFrom(lightgbm,lgb.cv)
importFrom(lightgbm,lgb.Dataset)
importFrom(lightgbm,lgb.importance)
importFrom(lightgbm,lgb.dump)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_smooth)
importFrom(ggplot2,geom_abline)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_col)
importFrom(ggplot2,coord_flip)
importFrom(ggplot2,labs)
importFrom(ggplot2,theme_minimal)
importFrom(stats,predict)
importFrom(stats,quantile)
importFrom(stats,reorder)
importFrom(methods,is)
importFrom(tibble,tibble)
importFrom(dplyr,arrange)
importFrom(dplyr,desc)
